<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OAuth2 Sign in/out test</title>
</head>

<body>
    <h1>OAuth2でのサインイン</h1>

    <!-- sign in/out -->
    <button id="sign-in-btn">OAuth Sign in with Google</button>
    <button id="sign-out-btn">OAuth Sign out with Google</button>

    <!-- サインイン状態 -->
    <!-- TODO: icon -->
    <p id="status"></p>
    <button id="get-auth-info">Show Certification Information</button>

    <!-- scripts -->
    <script type="module" src="./scripts/sign.js"></script>
</body>

</html>